*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    display: flex;
    justify-content: center;
    margin: 5rem;
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1rem;
    color: brown;
}
.box {
    font-size: 45px;
    color: red;
    display: flex;
    
    justify-content: center;
    gap: 4rem;
    margin: 10px;
}

button {
    font-size: 40px;
    background-color: rgba(191, 130, 237, 0.681);
    color: rgb(0, 0, 0);
    margin: 10px;
    border-radius: 100%;
    padding: 2rem;
}
.imgs{
    width: 100px;
    height: 100px;
}   